.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:3rem;
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow:hidden; 
    margin-top:1rem;
    position: relative;  
}

.main-content {
    text-align: center;
}